/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-feb-2016, 10:57:00
    Author     : Cotel
*/

@font-face {
    font-family: AnonymousPro;
    src: url("AnonymousPro-Regular.ttf");
}

.background {
    -fx-background-color: #1d1d1d;
}

.bordered {
    -fx-border-color: black;
    -fx-background-size: 2;
}

.shadowed {
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}

.list-view {
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI Light";
}

.list-cell {
    -fx-font-family: "AnonymousPro";
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.list-cell:even {
    -fx-background-color: derive(#1d1d1d, 5%);
}

.list-cell:filled:hover {
    -fx-cursor: hand;
    -fx-background-color: derive(#0096C9, 30%);
}

.list-cell:selected {
    -fx-background-color: #0096C9;
}

.list-view:focused {
    -fx-background-insets: 0, 0, 1, 2;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-pane {
    -fx-background-color: #1d1d1d;
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;    
}

.tab-pane .headers-region {
    -fx-effect: null;
}

.tab {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-background-color: #1d1d1d;
    -fx-background-radius: 0;
}

.tab:hover {
    -fx-background-color: rgba(0,150,201,0.2);
    
}

.tab:selected {
    -fx-background-color: derive(#1d1d1d,20%);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

#hoy {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header2 {
    -fx-font-size: 24pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}


.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

/* 
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;   
    /*-fx-border-color: #e2e2e2;*/
    -fx-border-width: 2;
    -fx-background-radius: 100;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 20pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button-small {
    /*-fx-padding: 5 22 5 22;*/
    -fx-background-radius: 5em;
    -fx-background-color: #0096C9;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: #d8d8d8;
    /*-fx-background-insets: 0 0 0 0, 0, 1, 2;*/
}

.button-small:pressed {
    -fx-background-color: white;
}


.button:hover {
    /*-fx-background-color: #3a3a3a;*/
    -fx-background-color: #0096C9;
    -fx-cursor: hand;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

/*.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}*/

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.image-view:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(one-pass-box, #0096C9, 10, 0.75, 0, 0);
}

.hbox {
    -fx-background-color: derive(#1d1d1d, 20%);
}

.tile-pane {
    -fx-background-color: transparent;
}

#resultados {
    -fx-background-color: transparent;
}

#resultados > .viewport {
    -fx-background-color: transparent;
}

/*.scroll-pane {
    -fx-background-color: transparent;    
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}*/
 
.scroll-pane .corner {
    -fx-background-color: black, #4a4a4a;
}

.scroll-bar .thumb{
    -fx-background-color: #b8b8b8;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
 
.scroll-bar .thumb:hover {
    -fx-color: #cacaca;
}
 
/* The following is not working. Maybe related to RT-10521*/
.scroll-bar .thumb:pressed {
    -fx-color: #1e1e1e;
}
 
 
.scroll-bar .track {
     -fx-background-color: #4a4a4a;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.scroll-bar .track-background {
     -fx-background-color: #4a4a4a;
    -fx-background-insets: 0;
}
 
.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: #4a4a4a;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
     
    -fx-padding: 0.25em; /* 3 */
}
 
.scroll-bar .increment-button:hover, .scroll-bar .decrement-button:hover  {
    -fx-background-color: #cacaca;
}
 
.scroll-bar .increment-button:pressed, .scroll-bar .decrement-button:pressed {
    -fx-background-color: #1e1e1e;
}
 
.scroll-bar:horizontal .increment-arrow {
    -fx-background-color: #1e1e1e, #1e1e1e;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.5em 0.333333em 0.0em 0.0em; /* 6 4 0 0 */
    -fx-shape: "M7.626,12.876L4.251,8.751H7.14L11,12.876L7.14,17H4.251L7.626,12.876z";
}
 
.scroll-bar:vertical .increment-arrow {
    -fx-background-color: #1e1e1e, #1e1e1e;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em 0.5em 0.0em 0.0em;  /*4 6 0 0 */
    -fx-shape: "M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
}
 
.scroll-bar .increment-button:pressed .increment-arrow {
    -fx-background-color: white, white;
}
 
.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: #1e1e1e, #1e1e1e;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.5em 0.333333em 0.0em 0.0em; /* 6 4 0 0 */
    -fx-shape: "M11,17H8.111l-3.86-4.124l3.86-4.125H11l-3.375,4.125L11,17z";
}
 
.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: #1e1e1e, #1e1e1e;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
}
 
.scroll-bar .decrement-button:pressed .decrement-arrow {
    -fx-background-color: white, white;
}
 
.scroll-bar:disabled {
    -fx-opacity: 0.4;
}
